{% load staticfiles %}

<nav class="navbar navbar-expand-sm bg-light fixed-top">
  <a style="font-size:25px;" class="navbar-brand">马永邦的个人网站</a>
  <!-- Links -->
  <ul class="navbar-nav" style="font-size:18px"
    <li class="nav-item">
      <a class="nav-link" href="#">文章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">爬虫</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">统计</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="#">个人</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>